<launch>
    <!-- Launch moveit-->
    <include file="$(find arduinobot_movit)/launch/demo.launch"/>

    <!-- Launch the subscriber nodes on the arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name= "osservo" respawn="true" output="screen">
        <param name="port" value="/dev/ttyACM0" />
    </node>
    <node pkg="simple_robot_arm" type="request_handler.py" name="request_handler" respawn="true" output="screen"></node>

</launch> 